body{
  background:url('http://goo.gl/RV6Ob');  
}

#imgcont{
	position:absolute;
	top:5%;
}

#imgcont li img{
	border: 10px solid #FFF;
  box-shadow: 0 3px 6px 0 #999;
  display: block;
  height: 300px;
  opacity: 0.6;
  margin-top: 50px;
  transition: height 1s, opacity 0.5s, margin-top 1s;
}

































ul {
  white-space: nowrap;
  overflow: visible;
  position: relative;
  left: 0;
  transition: left 1s;
}
li {
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  height: 422px;
}
li img {
  border: 10px solid #FFF;
  box-shadow: 0 3px 6px 0 #999;
  display: block;
  height: 300px;
  opacity: 0.6;
  margin-top: 50px;
  transition: height 1s, opacity 0.5s, margin-top 1s;
}

li:hover img {
  box-shadow: 0 3px 6px 0 #333;
}

li.active img {
  margin-top: 0;
  height: 400px;
  opacity: 1;
}
